<div>
    <p-accordion [multiple]="true" [activeIndex]="[0,1]">
        <p-accordionTab header="Profile">
            <div class="flex flex-row mt-4">
                <p-avatar icon="pi pi-user" size="xlarge" styleClass="mr-4" shape="circle"></p-avatar>
                <div class="flex flex-column">
                    <h2 class="m-1 p-0">{{name}}</h2>
                    <p class="m-1 p-0">{{email}}</p>
                </div>
            </div>

        </p-accordionTab>
        <p-accordionTab header="School">
            <div class="flex flex-column mt-4">
                <div>
                    <h2 class="m-0 p-0">Overview</h2>
                    <p>Projected GPA: {{gpa}}/4.0</p>
                </div>

                <div class="flex flex-row flex-grow-1 align-content-center justify-content-between mb-3">
                    <h2 class="m-0 p-0">Courses</h2>
                    <button pButton label="Add Course" class="p-button-text p-1" (click)="addCourse()"></button>
                </div>

                <div class="grid">
                    <p-card class="col-4" *ngFor="let course of courses" (click)="selectCourse(course)">
                        <ng-template pTemplate="content" class="p-0">
                            <div class="flex flex-row justify-content-between">
                                <h2 class="m-0 p-0">{{course.name}}</h2>
                                <p-menu class="relative top-0" #menu [model]="editMenu" appendTo="body" [popup]="true"></p-menu>
                                <i class="x-button p-2 pi pi-ellipsis-h" (click)="this.selectedCourse = course ;openEditMenu($event, menu)"></i>
                            </div>
                            <p>Projected Grade: {{course.finalGrade}}%</p>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>

    <p-dialog [header]="selectedCourse.name + ' Notes'" [(visible)]="showPopup" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [maximizable]="true">
        <p class="m-0">
            <textarea class="w-full" rows="10" [(ngModel)]="selectedCourse.name"></textarea>
        </p>
    </p-dialog>
    <p-dialog [header]="'Edit ' + selectedCourse?.name" [(visible)]="editModeOn" [modal]="true" [style]="{ width: '50vw', height: '50vm'}" [draggable]="false" [maximizable]="false" [closable]="false">
        <p class="m-0 flex flex-grow-1 align-content-center justify-content-between mt-2"> 
          <input pInputText [(ngModel)]="selectedCourse.name"/>
          <button pButton label="Close" class="p-button-text p-1" (click)="editModeOn = false"></button>
        </p>
     </p-dialog>
</div>
