<div class="logo">
    <a routerLink="/profile" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo-clean.png"/>
        </div>
        StudySphere
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    
<!-- End of mobile menu -->
<!-- Start of large view -->
</div> 
<ul class="nav">
  <li *ngFor="let route of menuItems" class="nav-item" [ngClass]="route.class" [class.active]="isActive(route.path)">
      <a *ngIf="!route.subRoutes; else subRoutesTemplate" class="nav-link" [routerLink]="[route.path]">
          <i class="material-icons">{{route.icon}}</i>
          <p>{{route.title}}</p>
      </a>
      <ng-template #subRoutesTemplate>
          <a class="nav-link" [routerLink]="[route.path]" (click)="navigateAndToggle(route)" [class.active]="isActive(route.path)">
              <i class="material-icons">{{route.icon}}</i>
              <p>{{route.title}}</p>
          </a>
          <div class="collapse" [class.show]="route.isExpanded" id="{{route.title}}Submenu">
              <ul class="nav flex-column">
                  <li *ngFor="let subRoute of route.subRoutes" class="nav-item">
                      <a class="nav-link" [routerLink]="[subRoute.path]" [class.active]="isActive(subRoute.path)">{{subRoute.title}}</a>
                  </li>
              </ul>
          </div>
      </ng-template>
  </li>
</ul>
</div>
