.card {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-80%);
    background-color: #808080;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
}
  
.card.visible {
  transform: translateX(0);
}
