<div class="">
   <!-- Adding title field -->
   <app-dynamic-title>
   </app-dynamic-title>
   <!-- Adding other collaborators field -->
</div>
<div class="">
    <!-- upload field -->
</div>
<div class="">
    <!-- progression bar -->
</div>
<div class="">
    <!-- Timeline -->
    <!-- <p-timeline [value]="events">
        <ng-template pTemplate="content" let-event>
            {{ event.status }}
        </ng-template>
    </p-timeline> -->
</div>
<div class="">
    <!-- Split tasks -->
</div>
