<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        Our devpost
                    </a>
                </li>
                <li>
                    <a >
                        Thank you for using our app!
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by the
            <a href="https://www.creative-tim.com" target="_blank">Healthy Hackers</a> to give you a productivity boost!
        </div>
    </div>
</footer>
